# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=thalistrisch
DB_PASSWORD=
DB_NAME=dinneer_local

# Server Configuration
PORT=3000

# Encryption (deve ser igual ao PHP)
ENCRYPTION_KEY=sua_chave_secreta_de_32_bytes
ENCRYPTION_IV=1234567891234567
